extends layout.pug

block content
  form(method='GET' action='/auth/signup')
    button Sign Up

  button#logout Log Out

  form(method='GET' action='/auth/login')
    button Log In
 
  button#main Main Chat
