extends layout.pug

block script
  script
    include ../public/bundle.js

block content
  p#greet
  div#thread
  input#message(type='text') 
  button#send(type='submit') Send

  button#disc(type='submit') Exit

