extends layout.pug

block content
  label(for='username') Username
  input#username
  label(for='password') Password
  input#password(type='password', name='password')
  button#signup(type='submit') Sign Up
